.text {
    position: absolute;
    border-radius: 15px;
    border-style: solid;
    left: 40%;
    right: 2%;
}

.top {
    position: page;
    top: 60%;
}

button {
    box-shadow: yellow;
    border-radius: 5px;
    /*height: 10px;*/
    /*width: 20px;*/
}